name: Test space LVM
on: workflow_dispatch

jobs:
  build:
    name: test space lvm
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
      
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          echo "Free space:"
          df -h
          df -H
