name: Kali VDI customization build script

on: workflow_dispatch
  
  #schedule:
    # * is a special character in YAML so you have to quote this string
    #- cron:  '10 00 * * *'

#permissions:
#  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Install prerequisites
      run: |
        set -xe
        
        cd /tmp/
        
        #sudo apt -y -qq -o=Dpkg::Use-Pty=0 update ; sudo apt -y -qq -o=Dpkg::Use-Pty=0 upgrade ; sudo apt -y -qq -o=Dpkg::Use-Pty=0 install squashfs-tools isolinux xorriso unzip zip
        
        sudo apt -y -qq -o=Dpkg::Use-Pty=0 update
        
        sudo apt -y -qq -o=Dpkg::Use-Pty=0 install -y git live-build simple-cdd cdebootstrap curl debootstrap axel p7zip-full qemu-kvm kpartx

        #time axel -q "https://cdimage.kali.org/kali-2024.1/kali-linux-2024.1-virtualbox-amd64.7z" -o "kali_vbox.7z"
        time axel -q "http://downloads.sourceforge.net/virtualboximage/debian-3.1r0a-x86-netinstall-2.7z" -o "kali_vbox.7z"

        sha256sum "kali_vbox.7z"

        time 7z l "kali_vbox.7z"

        time 7z x "kali_vbox.7z"

        #sudo rmmod nbd
        sudo modprobe nbd max_part=16
        sudo qemu-nbd -c /dev/nbd0 "./VDI/Debian 3.1r0a (x86, netinstall).vdi"
        #sudo qemu-nbd -c /dev/nbd0 ./kali-linux-2024.1-virtualbox-amd64/kali-linux-2024.1-virtualbox-amd64.vdi
        
        sudo ls -alh /dev/

        sudo kpartx -a /dev/nbd0
        sudo ls -alh /dev/
        sudo mkdir -p /mnt/vdi
        sudo mount
        sudo cat /proc/partitions
        sudo blkid
        sudo mount /dev/mapper /mnt/vdi/
